@model IEnumerable<App_consulta.Models.KoGenericData>

@{
    KoProject project = ViewBag.project;

    ViewData["Title"] = "Imprimir";
    ViewData["Subtitle"] = project.ValidationName;
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";

    if (Model.Count() == 1)
    {
        ViewData["Title"] = project.ValidationName + "_" + Model.First().IdKobo;
    }
    else if (Model.Count() > 1)
    {
        ViewData["Title"] = "Fichas: " + project.ValidationName;
    }

    var disabled = ViewBag.Ids != "[]" ? "" : "disabled";

    var estadosValidos = ViewBag.EstadosValidos;
    Dictionary<int, KoState> estados = ViewBag.Estados;

    List<KoField> fieldsText = ViewBag.fieldsText;
    List<KoField> fieldsImages = ViewBag.fieldsImages;
    List<KoField> fieldsFiles = ViewBag.fieldsFiles;

    var firstImage = fieldsImages.Count > 0 ? fieldsImages[0] : null;
    var firstText = fieldsText.Count > 0 ? fieldsText[0] : null;

}

<div class="row my-4 d-print-none ">
    <div class="col-10 mx-auto">
        <div class="card  border-dark ">
            <div class="card-body">
                <h4 class="my-2">Imprimir registros</h4>
                <hr />
                <div class="m-2 p-2">
                    <div class="alert alert-secondary" role="alert">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="print_ck" value="1" checked>
                            <label for="print_ck" class="custom-control-label">Versión simplificada</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class=" col-4 offset-4">
                        <button onclick="window.print();" @disabled class="btn btn-lg btn-block btn-success"><i class="fas fa-print"></i> IMPRIMIR </button>
                    </div>
                </div>


                @foreach (var item in Model)
                {
                    <div class="d-print-none">
                        <table class="table table-bordered table-formalz   table-sm" style="table-layout: fixed">
                            <tbody class="@(!estadosValidos.Contains(item.State) ? "text-danger" : "")">
                                <tr>
                                    <td rowspan="4" class="text-center">
                                        @if (firstImage != null && item.DynamicProperties.ContainsKey(firstImage.NameDB))
                                        {
                                            <img />
                                            @await Component.InvokeAsync("File", new { file = item.DynamicProperties[firstImage.NameDB], text = firstImage.FormLabel, key = item.IdKobo, css = "img-mini" })
                                        }
                                    </td>
                                </tr>
                                <tr class="text-danger text-center">
                                    <td colspan="4">
                                        @switch (item.State)
                                        {
                                            case 4: //completo
                                            case 6: //impreso
                                                break;
                                            case 3: //Borrador
                                                <i><b>Registro en borrador</b>, no puede ser impresa</i>
                                                break;
                                            case 5: //cancelado
                                            case 7: //vigente
                                            case 8: //duplicado
                                                <i><b>Registro cancelado</b>, no puede ser impresa</i>
                                                break;
                                            default:
                                                <i><b>Registro invalida</b>, no puede ser impresa</i>
                                                break;
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle font-weight-light">No. de registro</td>
                                    <td class="align-middle text-center">@item.IdKobo</td>
                                    <td class="align-middle font-weight-light">Estado</td>
                                    <td class="align-middle text-center">
                                        <span class="badge @estados[item.State].Class">@estados[item.State].Label</span>
                                    </td>
                                </tr>
                                <tr>
                                    @if (firstText != null && item.DynamicProperties.ContainsKey(firstText.NameDB))
                                    {
                                        <td colspan="2" class="align-middle font-weight-light">@firstText.FormLabel</td>
                                        <td colspan="2" class="align-middle text-center font-weight-bold text-uppercase">  @item.DynamicProperties[firstText.NameDB]</td>

                                    }
                                </tr>

                            </tbody>
                        </table>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

@foreach (var registro in Model)
{
    if (!estadosValidos.Contains(registro.State)) { continue; }
    var firstPage = true;
    foreach (var fieldImage in fieldsImages)
    {
        //Ingorar las cedulas impresas en la primera pagina
        if (fieldImage.NameDB.Contains("cedula")) { continue; }

        //Ignorar imagenes nulas
        if (!registro.DynamicProperties.ContainsKey(fieldImage.NameDB) || registro.DynamicProperties[fieldImage.NameDB] == null) { continue; }
        var valueFile = registro.DynamicProperties[fieldImage.NameDB];

        <div class="page-f d-none @(firstPage ? "d-print-block" : "pageExtra")">
            @await Html.PartialAsync("_FormalizacionPartial", project)
            @{
                var titleSection = fieldImage.PrintTitle.Substring(fieldImage.PrintTitle.IndexOf('.') + 1);
            }
            @if (firstPage)
            {
                <p class="font-weight-bold text-center">INFORMACIÓN GENERAL</p>
            }
            else
            {
                <p class="text-justify text-uppercase font-weight-lighter "> @titleSection</p>
            }
            <table class="table table-bordered table-formalz table-sm">
                <tbody>
                    <tr>
                        <td class="font-weight-bold">Fecha de solicitud</td>
                        <td colspan="2" class="middle">@(registro.DynamicProperties.ContainsKey("datetime") ? registro.DynamicProperties["datetime"]: "" )</td>
                        <td class="font-weight-bold">No. de registro</td>
                        <td colspan="2" class="resaltado">@registro.IdKobo</td>
                    </tr>
                    @if (firstPage)
                    {
                        var columnCount = 0;
                        <tr class="tr-text">
                            @foreach (var fieldText in fieldsText)
                            {
                                if (registro.DynamicProperties.ContainsKey(fieldText.NameDB) && registro.DynamicProperties[fieldText.NameDB] != null)
                                {
                                    columnCount++;
                                    <td class="font-weight-bold">@(fieldText.PrintTitle.Substring(fieldText.PrintTitle.IndexOf('.') + 1))</td>
                                    <td colspan="2" class="text-uppercase middle @(columnCount % 2 == 0 ? "sc-val": "")">@registro.DynamicProperties[fieldText.NameDB]</td>
                                    @Html.Raw(columnCount % 2 == 0 ? "</tr><tr class='tr-text'>" : "")
                                }

                            }
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Anexos</td>
                            <td colspan="5">
                                @foreach (var fieldFile in fieldsFiles)
                                {
                                    if (registro.DynamicProperties.ContainsKey(fieldFile.NameDB) && registro.DynamicProperties[fieldFile.NameDB] != null)
                                    {
                                        if (fieldFile.FormType == KoField.TYPE_FILE)
                                        {
                                            var ext = System.IO.Path.GetExtension((String)registro.DynamicProperties[fieldFile.NameDB]).Substring(1);
                                            <span>●</span>
                                            <span class="font-weight-lighter text-uppercase">[@ext]</span>
                                        }
                                        else
                                        {
                                            <span class="mark-check">●</span>
                                        }
                                        <span>@(fieldFile.PrintTitle.Substring(fieldFile.PrintTitle.IndexOf('.') + 1))</span>
                                        <br />
                                    }
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="font-weight-bold"> Nombre del formato</td>
                        <td colspan="5">@titleSection<span class="font-weight-light">: documento original.</span></td>
                    </tr>

                    @if (firstPage)
                    {
                        <tr>
                            <td colspan="3" rowspan="2" class="text-center">
                                <span class="font-weight-light">Foto encuestado</span><br />
                                @await Component.InvokeAsync("File", new { file = valueFile, text = fieldImage.Name, css = "img-medium" })
                            </td>
                            <td colspan="3" class="text-center">
                                <span class="font-weight-light">Foto cédula encuestado (frontal)</span><br />
                                @await Component.InvokeAsync("File", new { file = registro.DynamicProperties["foto_cedula_frontal"], text = "Cedula frontal", css = "img-small" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center">
                                <span class="font-weight-light">Foto cédula encuestado (reverso)</span><br />
                                @await Component.InvokeAsync("File", new { file = registro.DynamicProperties["foto_cedula_reverso"], text = "Cedula reverso", css = "img-small" })
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                @await Component.InvokeAsync("File", new { file = valueFile, text = fieldImage.Name, css = "img-large" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        firstPage = false;
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/site-f.css" />
}
@section Scripts{
    <script>
        var myIdsPrint = @Html.Raw(ViewBag.Ids);
        var myProject = @project.Id;
        $(document).ready(function () {
            $("tr.tr-text:not(:has(td.sc-val)) > .middle").attr('colspan', 5);
        });
    </script>
    <script type="text/javascript" src="~/js/tables/PrintFormalizacionScript.js?v=1.0"></script>
}