@{
    ViewData["Title"] = "Inicio";
    Configuracion conf = ViewBag.config;

    Dictionary<int, string> encuestas = ViewBag.encuestas;
    Dictionary<int, string> registros = ViewBag.registros;
}

<div class="text-center mt-4">
    <h1 class="display-4 titulo-principal">Bienvenido</h1>
    <h2 class="titulo-principal">@conf.NombreApp</h2>
    <p>@conf.DescripcionApp</p>
    <hr />
    <div class="row">

        @if (User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestador.Ver" && c.Value == "1")))
        {
            <div class="col-12 col-md-3 mb-1">
                <a class="btn btn-outline-primary btn-lg btn-block" asp-area="" asp-controller="Encuestador" asp-action="Index">Encuestadores</a>
            </div>
        }
        @if (User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestas.Listado" && c.Value == "1")))
        {
            @foreach (KeyValuePair<int, string> item in encuestas)
            {
                <div class="col-12 col-md-3 mb-1">
                    <a class="btn btn-outline-primary btn-lg btn-block" asp-controller="Informes" asp-action="Listado" asp-route-id="@item.Key">@item.Value</a>
                </div>
            }
        }
        @if (User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Registro.Listado" && c.Value == "1")))
        {
            @foreach (KeyValuePair<int, string> item in registros)
            {
                <div class="col-12 col-md-3 mb-1">
                    <a class="btn btn-outline-primary btn-lg btn-block" asp-controller="Informes" asp-action="Validacion" asp-route-id="@item.Key">@item.Value</a>
                </div>
            }
        }
    </div>

    <hr />
    <div class="row">
        <div class="col-6 offset-lg-2 col-lg-4">
            <img src="@Url.Content("/images/aunap.png")" class="img-home" />
        </div>
        <div class="col-6 col-lg-4 ">
            <img src="@Url.Content("/images/pnud-logo-30.svg")" class="img-home" />
        </div>
    </div>


</div>
