@model App_consulta.Models.Pollster

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "Encuestadores";
    ViewData["Fluid"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var permisoEditar = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestador.Editar" && c.Value == "1"));
    var permisoAdministrar = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestador.Administrar" && c.Value == "1"));

    var verEncuestas = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Encuestas.Usuario" && c.Value == "1"));

    var permisoVer = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Registro.Ver" && c.Value == "1"));
    var permisoValidar = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Registro.Validar" && c.Value == "1"));
    var permisoExportar = User.HasClaim(c => (c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/Exportar.Listado" && c.Value == "1"));

    List<KoProject> projects = ViewBag.projects;
    var active = true;
}

@Html.Hidden("allowExport", (permisoExportar ? 1 : 0))
@Html.Hidden("allowLoadValidate", (permisoValidar ? 1 : 0))
@Html.Hidden("allowSeeValidate", (permisoVer ? 1 : 0))

<div class="row mt-4">
    <div class="col-12 col-sm-5 @(verEncuestas ? "" : "mx-auto")">
        <div class="card  border-info ">
            <div class="card-body">
                <h4 class="text-center text-uppercase">@Model.Name</h4>
                <h5 class="text-center text-uppercase">@Model.DNI</h5>
                <hr />
                <div class="alert alert-success text-center" role="alert">
                    Clave del usuario: <span class="text-lg font-weight-bold">@Model.Code</span>
                </div>
                <div class="form-group row">
                    <label asp-for="IdResponsable" class="col-sm-5 col-form-label"></label>
                    <div class="col-sm-7">
                        @if (Model.Responsable != null)
                        {
                            <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Responsable.Nombre)</p>
                        }
                    </div>
                </div>
                <hr />


                <div class="form-group row">
                    <label asp-for="PhoneNumber" class="col-sm-5 col-form-label"></label>
                    <div class="col-sm-7">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.PhoneNumber)</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-5 col-form-label"></label>
                    <div class="col-sm-7">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Email)</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdLocationParent" class="col-sm-5 col-form-label"></label>
                    <div class="col-sm-7">
                        @if (Model.Location != null && Model.Location.LocationParent != null)
                        {
                            <p class="form-control-plaintext font-weight-light">
                                @Html.DisplayFor(model => model.Location.LocationParent.Name)
                            </p>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="IdLocation" class="col-sm-5 col-form-label"></label>
                    <div class="col-sm-7">
                        @if (Model.Location != null)
                        {
                            <p class="form-control-plaintext font-weight-light">
                                @Html.DisplayFor(model => model.Location.Name)
                            </p>
                        }
                    </div>
                </div>

                <hr />
                <div class="form-group row">

                    @if (permisoEditar)
                    {
                        <div class="col-sm-3 offset-lg-3">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-block mb-2">Editar</a>
                        </div>
                        <div class="col-sm-3 ">
                            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4 offset-lg-4">
                            <a asp-action="Index" class="btn btn btn-outline-dark btn-block">Volver</a>
                        </div>
                    }
                </div>
            </div>
            @if (permisoAdministrar)
            {
                <div class="card-footer">
                    @if (Model.User != null)
                    {
                        <p class="font-weight-light mb-0 small">
                            Registrado por: <b>@Model.User.Nombre @Model.User.Apellido</b>
                        </p>
                    }
                    <p class="font-weight-light mb-0 small">
                        Fecha creación: <i>@Model.CreationDate.ToString("f")</i>
                    </p>
                </div>
            }
        </div>
    </div>
    @if (verEncuestas)
    {
        <div class="col-12 col-sm-7">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @foreach (KoProject p in projects)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(active ? "active": "")" id="home-@p.Id" data-toggle="tab" href="#home_@p.Id" role="tab" aria-controls="home_@p.Id" aria-selected="true">
                                    @p.Name
                                </a>
                            </li>
                            active = false;
                        }
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        @{ active = true; }
                        @foreach (KoProject p in projects)
                        {
                            <div class="tab-pane fade @(active ? "show active" : "")" id="home_@p.Id" role="tabpanel" aria-labelledby="home_@p.Id-tab">
                                <div id="gridContainer_@p.Id" class="row-lm aux-selection"></div>
                                <div class="card-footer text-center">
                                    <p class="font-weight-light mb-0 small">
                                        Actualizado el <i>@p.LastUpdate</i>
                                    </p>
                                </div>
                            </div>
                            active = false;
                        }
                    </div>

                </div>

            </div>
        </div>
    }
</div>
@section Scripts {
    @if (verEncuestas)
    {
        <script type="text/javascript" src="~/lib/jquery/moment.js"></script>
        <script>
            var myConfig = JSON.parse('@Html.Raw(ViewBag.config)');
        </script>
        <script type="text/javascript" src="~/js/tables/AlertScript.js"></script>
        <script type="text/javascript" src="~/js/tables/ListadoScript.js?v=1.1"></script>
    }
}