@using Microsoft.EntityFrameworkCore;

@inject App_consulta.Data.ApplicationDbContext db

@{
    var appName = "App Consulta";

    var conf = await db.Configuracion.FirstOrDefaultAsync();
    if (conf != null)
    {
        appName = conf.NombreApp;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - @appName</title>

    <partial name="_faviconPartial" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" />

    <partial name="_colorMenuPartial" />
</head>
<body>
    <nav class="navbar sticky-top navbar-light bg-light navbar-expand-sm navbar-toggleable-sm box-shadow mb-3"
        <partial name="_imagenNavegacionPartial" /> >
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><partial name="_LogoPartial" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <partial name="_MenuHeaderPartial" />
        </div>
    </nav>
    <div class="container-fluid">
        <h2 class="titulo-principal">@ViewData["Title"]</h2>
        <div>
            <h4>@ViewData["Subtitle"]</h4>
            <hr class="mb-0" />
            <div class="row">
                <div class="col-md-2" style="background-color:#f3f3f3">
                    <partial name="_MenuAdmin" />
                </div>
                <div class="col-md-10 bg-white mt-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div id="toastGenerico"></div>
    <div id="toastGenericoReload"></div>
    @Html.Hidden("Root", Url.Content("~/"))
    <partial name="_footerPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("a#@(ViewContext.RouteData.Values["Controller"])-@(ViewContext.RouteData.Values["Action"])").addClass("active");
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



