@using App_consulta.Controllers;

@model IEnumerable<App_consulta.Models.KoField>

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    KoProject project = ViewBag.project;
    int order = ViewBag.Order;
}
<h4>Campos proyecto - @project.Name</h4>

<div class="row mb-2">
    <div class="col-12 col-md-6">
        <p>
            @Html.ActionLink("Nuevo campo", "Create", new { idProject = project.Id })
        </p>
    </div>
    <div class="col-12 col-md-6">
        <select class="form-control" onchange="location = this.value;">
            <option value="">Filtro</option>
            <option value="@Url.Action("Index","KoField", new { idProject=project.Id, order=0 })">Todos los campos</option>
            <option value="@Url.Action("Index","KoField", new { idProject=project.Id, order=1 })">Formulario</option>
            <option value="@Url.Action("Index","KoField", new { idProject=project.Id, order=2 })">Tabla general</option>
            <option value="@Url.Action("Index","KoField", new { idProject=project.Id, order=3 })">Tabla usuario</option>
            <option value="@Url.Action("Index","KoField", new { idProject=project.Id, order=4 })">Tabla validación</option>
            <option value="@Url.Action("Index","KoField", new { idProject=project.Id, order=5 })">Impresión</option>
        </select>
    </div>
</div>
@if (ViewBag.error != null)
{
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.error
    </div>
}
<table class="table font-smaller table-striped table-bordered align-middle">
    <tr>
        <th rowspan="2">
            @Html.DisplayNameFor(model => model.Name) <br />
            @Html.DisplayNameFor(model => model.NameDB) <br />
            @Html.DisplayNameFor(model => model.NameKobo)
        </th>
        <th rowspan="2">
            Etiqueta formulario <br />
            Grupo formulario <br />
            Título tablas <br />
            Título impresión
        </th>
        @if (order == 0)
        {
            <th class="text-sm-center" colspan="4">
                Mostrar elementos
            </th>
        }
        @if (order == 1)
        {
            <th class="text-sm-center" rowspan="2">
                Editable
            </th>
        }
        @if (order <= 1)
        {
            <th class="text-sm-center" colspan="3">
                Formulario
            </th>
        }
        @if (order != 1)
        {
            <th class="text-sm-center" colspan="3">
                Informe (Opciones)
            </th>
            <th class="text-sm-center" colspan="3">
                Informe (Ancho)
            </th>
        }
        <th class="text-sm-center" rowspan="2">
            Opciones
        </th>
    </tr>
    <tr class="text-sm-center">
        @if (order == 0)
        {
            <th><span title="Formulario">F</span></th>
            <th><span title="Reporte general">G</span></th>
            <th><span title="Reporte usuario">U</span></th>
            <th><span title="Reporte validación">V</span></th>
        }
        @if (order <= 1)
        {
            <th><span title="Validación">V</span></th>
            <th><span title="Orden">O</span></th>
            <th><span title="Tipo">T</span></th>
        }
        @if (order != 1)
        {
            <th><span title="Orden">O</span></th>
            <th><span title="Prioridad">P</span></th>
            <th><span title="Tipo / Variables">T</span></th>

            <th><span title="Ancho tabla general">G</span></th>
            <th><span title="Ancho tabla usuario">U</span></th>
            <th><span title="Ancho tabla validación">V</span></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="td-formali-conf" style="max-width: 300px;">
                @Html.DisplayFor(modelItem => item.Name) <br />
                @Html.DisplayFor(modelItem => item.NameDB) <br />
                <small>@Html.DisplayFor(modelItem => item.NameKobo)</small>
            </td>
            <td class="td-formali-conf">
                @Html.DisplayFor(modelItem => item.FormLabel) <br />
                <small><b>@Html.DisplayFor(modelItem => item.FormGroup) </b></small><br />
                @Html.DisplayFor(modelItem => item.TableTitle)<br />
                <small><b>@Html.DisplayFor(modelItem => item.PrintTitle) </b></small>
            </td>
            @if (order == 1)
            {
                <td class="text-center align-middle">
                    @(item.Editable ? "X" : "-")
                </td>
            }
            @if (order == 0)
            {
                <td class="text-center align-middle">
                    @(item.ShowForm ? (item.Editable ? "E" : "X") : "-")
                </td>
                <td class="text-center align-middle">
                    @(item.ShowTableReport ? "X" : "-")
                </td>
                <td class="text-center align-middle">
                    @(item.ShowTableUser ? "X" : "-")
                </td>
                <td class="text-center align-middle">
                    @(item.ShowTableValidation ? "X" : "-")
                </td>
            }
            @if (order <= 1)
            {
                <td class="text-center align-middle">
                    @(item.Validable ? "X" : "-")
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.FormOrder)
                </td>
                <td class="text-center align-middle">
                    @(KoFieldController.OptionToLabel(item.FormType))<br />
                    <small>@Html.DisplayFor(modelItem => item.FormGroupSelect)</small>
                </td>
            }
            @if (order != 1)
            {
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.TableOrder)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.TablePriority)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.TableType)
                </td>

                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.WidthTableReport)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.WidthTableUser)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.WidthTableValidation)
                </td>
            }
            <td class="text-center align-middle">
                <span class="button-inline small-button ">
                    <a href='@Url.Action("Edit", new { id=item.Id })' class="btn btn-default btn-sm" title="Editar"><i class="fas fa-edit"></i></a>
                    <a href='@Url.Action("Delete", new { id=item.Id })' class="btn btn-default btn-sm" title="Borrar"><i class="fas fa-trash"></i></a>
                </span>
            </td>
        </tr>
    }

</table>
<hr />
<div class="form-group row">
    <div class="col-sm-4 offset-md-4">
        <a asp-action="Index" asp-controller="KoProject" class="btn btn btn-outline-dark btn-block">Volver</a>
    </div>
</div>
